.spacer-left-sm {
    margin-left: 1rem !important;
}

.spacer-left-md {
    margin-left: 1.5rem !important;
}

.spacer-left-lg {
    margin-left: 2.5rem !important;
}


.spacer-right-sm {
    margin-right: 1rem !important;
}

.spacer-right-md {
    margin-right: 1.5rem !important;
}

.spacer-right-lg {
    margin-right: 2.5rem !important;
}





.spacer-top-sm {
    margin-top: 1rem;
}

.spacer-top-md {
    margin-top: 1.5rem;
}

.spacer-top-lg {
    margin-top: 2.5rem;
}

.spacer-bottom-sm {
    margin-bottom: 1rem;
}

.spacer-bottom-md {
    margin-bottom: 1.5rem;
}

.spacer-bottom-lg {
    margin-bottom: 2.5rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.start {
  justify-content: start;
}